body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
}
.dropdown-menu {
  height: 140px;
  width: 800px;
  margin: 40px auto;
  position: relative;
}
.menu-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}
.menu-list > li {
  position: relative;
}
.menu-list > li > a {
  color: #fff;
  text-decoration: none;
}
.drop-list {
    position: absolute;
    padding-top: 10px;
    left: -30px;
    line-height: 1.5;
    visibility: hidden;
}
.drop-list > ul {
    position: relative;
    background-color: #F2F3F4;
    list-style: none;
    border-radius: 4%;
}
.drop-list > ul::before {
    content: '';
    position: absolute;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F2F3F4;
    top: -10px;
    left: 40px;
}
.drop-list > ul a {
    display: block;
    width: 100px;
    height: 35px;
    text-align: center;
    color: #000000;
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.menu-list > li:hover .drop-list {
    display: block;
    visibility: visible;
}
.btn:hover {
  color: #2874A6;
}
.shape {
  width: 120px;
  height: 120px;
  font-family: 'Dorsa', sans-serif;
  font-size: 50px;
  text-align: center;
  line-height: 120px;
  border-radius: 50%;
  background: #fff;
}
main {
  position: relative;
  width: 880px;
  height: 750px;
  background: #fff;
  margin: 70px auto;
}
.main_heading {
  font-family:'Pathway Gothic One', sans-serif;
  color: #2874A6;
  font-size: 25px;
  margin: 40px 40px 0px;
}
.area {
  display: flex;
  width: auto;
  height: auto;
}
.first_section {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 550px;
  margin: 20px 20px;
}
.country-block {
  width: 120px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  margin-top: 20px;
}
.location1 {
  background-image: url('../img/location1.jpg');
}
.location2 {
  background-image: url('../img/location2.jpg')
}
.location3 {
  background-image: url('../img/location3.jpg')
}
.location4 {
  background-image: url('../img/location4.jpg')
}
.location5 {
  background-image: url('../img/location5.jpg')
}
.location6 {
  background-image: url('../img/location6.jpg')
}
.details-block {
  width: 140px;
  height: 140px;
  margin-left: 15px;
  margin-top: 20px;
  position: relative;
}
h4 {
  font-family:'Pathway Gothic One', sans-serif;
  color: #2874A6;
  font-size: 15px;
}
.do {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: #A6ACAF;
  background-image: none;
}
.select {
  position: relative;
  display: block;
  width: 155px;
  height: 30px;
  background: #A6ACAF;
  overflow: hidden;
  border-radius: .25em;
}
.do {
  width: 170px;
  height: 30px;
  margin: 0;
  padding: 0 0 0 .5em;
  color: white;
  cursor: pointer;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  margin-top: 8px;
  background: #A6ACAF;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}
.offer, .browse_p, .destination, .departing, .pricing, .duration {
  font-family:'Pathway Gothic One', sans-serif;
  color: #2C3E50;
  font-size: 13px;
}
.duration, .pricing, .departing {
  margin-top: 50px;
}
.destination {
  margin-top: 20px;
}
.price {
  font-family:'Pathway Gothic One', sans-serif;
  color: #3498DB;
  font-size: 16px;
  margin-top: 10px;
}
.offer {
  margin-top: 5px;
}
.offer_button {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
aside {
  margin-right: 40px;
  /*border: 1px solid red;*/
}
.first_aside_heading, .second_aside_heading {
  font-family:'Pathway Gothic One', sans-serif;
  color: #2874A6;
  font-size: 25px;
}
.first_aside_heading {
  margin-top: 40px;
}
.second_aside_heading {
  margin-top: 20px;
}
.browse_p {
  margin-left: 3px;
  margin-bottom: 10px;
  margin-top: 25px;
}
.aside_button {
  margin-top: 20px;
}
.all_tour_operators {
  font-family:'Pathway Gothic One', sans-serif;
  color: #3498DB;
  margin-top: 30px;
  font-size: 16px;
}
.first_aside, .second_aside {
  margin-right: 50px;
  /*border: 1px solid blue;*/
}
.footer {
  width: 881px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: -80px;
  font-family:'Pathway Gothic One', sans-serif;
  background-color: #1A5276;
}
.list {
  list-style: none;
}
.section1, .section2 {
  margin-top: 20px;
}
.round {
  display: inline-block;
  color: #D7DBDD;
  font-size: 20px;
  width: 180px;
  padding-left: 20px;
  text-align: center;
}
.round2 {
  display: inline-block;
  color: #D7DBDD;
  font-size: 20px;
  width: 140px;
  padding-right: 20px;
}
.block {
  position: relative;
  margin: 0px 200px;
}
.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    margin: 90px auto;
    list-style: none;
}
.social-media-list a {
  display: block;
  width: 37px;
  height: 40px;
  background-size: 120px 25px;
  background-image: url('../img/social.jpg');
  background-repeat: no-repeat;
}
.social-media-list .facebook {
    background-position: -27px 8px;
}
.social-media-list .twitter {
    background-position: 7px 8px;
}
.social-media-list .linkedin {
    background-position: -90px 8px;
}
.social-media-list .g-plus {
    background-position: -58px 8px;
}
.copy-rights {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -90px;
  margin: 70px auto;
  color: #F8F9F9;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 15px;
}
.bottom-circle {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5DADE2;
  bottom: 60px;
  right: 160px;
}
